.form {
    &__wrapper {
        display: grid;
        gap: var(--size-sm);
        grid-template-columns: 1fr;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
    }


    &__item {
        display: flex;
        flex-direction: column;

        @include md {
            &:nth-last-child(2) {
                grid-column-start: 2;
            }
        }


    }

    &__label {
        color: var(--color-dark);
        font-size: var(--size-sm);
    }

    &__input {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // font-family: Second;
        color: var(--color-dark);
        font-size: var(--size-sm);
        border: var(--size-xxxxs) solid var(--color-main);
        border-radius: var(--size-sm);
        padding: var(--size-xxs);
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        transition: all .3s ease-in-out;
        outline: none;
    }

    &__button {

        margin-top: var(--size-sm);
        width: 100%;

        @include md {
            grid-column-start: 2;
        }
    }
}